asgiref==3.8.1
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
Django==5.0.3
django-bootstrap5==23.4
django-fontawesome==1.0
django-fontawesome-5==1.0.18
django-rest-framework==0.1.0
djangorestframework==3.15.1
djlint==1.34.1
EditorConfig==0.12.4
fontawesomefree==6.5.1
gunicorn==21.2.0
html-tag-names==0.1.2
html-void-elements==0.1.0
jsbeautifier==1.15.1
json5==0.9.24
packaging==24.0
pathspec==0.12.1
pillow==10.3.0
PyYAML==6.0.1
regex==2023.12.25
six==1.16.0
sqlparse==0.4.4
tqdm==4.66.2
whitenoise==6.6.0
