{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block page_header %}
    <h2>Add a new Recipe</h2>
    {% if category %}to {{ category.name }}{% endif %}
{% endblock page_header %}
{% block content %}
    {% comment %} <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Recipe</button>
    </form> {% endcomment %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Save Recipe" %}
    </form>
</div>
{% endblock content %}
