<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodie</title>
    </head>
    <body>
        <header>
            <div>
                <a href="{% url "foodie_app:index" %}">Foodie</a>
                <a href="{% url "foodie_app:add_recipe_no_genre" %}">Add Recipe</a>
                Hello, {{ user.username }}
            </div>
        </header>
        <main>
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        <div>
            <hr>
            <footer>
                <pre>Footer</pre>
            </footer>
        </div>
    </body>
</html>
